//
//  Develop_Debug.xcconfig
//  DemoSwift
//
//  Created by Magus on 2023/2/18.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
#include "CommonConfig"
#include "Pods/Target Support Files/Pods-DemoSwift-DemoSwiftUITests/Pods-DemoSwift-DemoSwiftUITests.develop_debug.xcconfig"

ROOT = "www.Develop_Debug.com"
