//
//  Product_Release.xcconfig
//  DemoSwift
//
//  Created by Magus on 2023/2/18.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "CommonConfig"
#include "Pods/Target Support Files/Pods-DemoSwift/Pods-DemoSwift.product_release.xcconfig"
#include "Pods/Target Support Files/Pods-DemoSwift-DemoSwiftUITests/Pods-DemoSwift-DemoSwiftUITests.product_release.xcconfig"


ROOT = "www.Product_Release.com"
